body{
  display: flex;
  flex-direction: column;
  background: url(https://images.unsplash.com/photo-1602081957921-9137a5d6eaee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80) center/cover;
}

.container{
  background-color: #585858;
  padding : 20px;
  margin : auto;
  border : 5px solid rgb(37, 21, 182);
  display : flex;
  flex-direction: column;
  text-align: center;
  width : 70%;
  height: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.splash{
  cursor : pointer;
  position : fixed;
  top : 50%;
  left : 50%;
  height : 100%;
  width : 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  transform : translate(-50%,-50%);    
  background: url(https://img.freepik.com/free-photo/tree-businessmen-hand-showing-paper-rock-scissors-game-concept-by-3d-render-illustration_616485-101.jpg?w=740&t=st=1688062956~exp=1688063556~hmac=be4b7a34e9d3e3df7ffa39eb620f8fe6ac9af6121d0c7f7ccf28f7bb2b350df9) no-repeat center center/cover;
  background-position: 35% 60%;
  transition: all ease-out 500ms;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.splash h2 {
  margin: auto;
  font-size: 50px;
  background-color: rgba(153, 153, 153, 0.8);
}
.hidden{
  transition : 0.5s;
  display : none;
}
.splash-header {
  color : white;
  background-color: rgba(153, 153, 153, 0.8);
  font-family : Arial, Helvetica, sans-serif;
  font-size : 50px;
  margin: auto;
}

body {
  background-color: rgba(200,200,170);
}

#buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin: 20px 10px;
  height: 100px;
  border : 5px solid rgb(37, 21, 182);
  font-size: 40px;
  font-weight: 200px;
  color: blue;
  cursor: pointer;
}

.rock {
  background: url(https://images.unsplash.com/photo-1611298998053-33df4a627303?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80) no-repeat center/cover;
}

.paper {
  background: url(https://images.unsplash.com/photo-1523995462485-3d171b5c8fa9?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80) no-repeat center/cover;
}

.scissors {
  background: url(https://images.unsplash.com/photo-1503792501406-2c40da09e1e2?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1746&q=80)  no-repeat center/cover;
  background-position: 35% 42%;
}
